  .aside-menu {
            float: right;
            width: 250px;
      
            padding-right: 30px;
        }

            .aside-menu li {
                font-weight: 300;
                list-style-type: square;
                border-top: 1px solid #e7e7e7;
                font-family: 'Courier New', monospace;
            }

                .aside-menu li:first-child {
                    border: none;
                }

                .aside-menu li.active {
                    color: #29c5e6;
                }

            .aside-menu a {
                color: #8f8f8f;
            }