 .col {
            float: left;
            width: 25%;
        }

            .col > div:hover {
                box-shadow: 0 0 5px #666, 0 0 6px #ccc;
                cursor: pointer;
            }

            .col > div {
                margin: 15px;
                box-shadow: 0 0 3px #cccfcf, 0 0 5px #ccc;
            }

            .col img {
                width: 100%;
                height: 300px;
                object-fit: cover;
                object-position: 50% 0%;
                display: block;
            }
   @media (max-width: 1200px) and (min-width: 800px) {
            .col {
                width: 33%;
            }
        }

        @media (max-width: 799px) {
            .col {
                width: 50%;
            }
        }

        @media (max-width: 439px) {
            .col {
                width: 100%;
            }
        }